name: Build libdobby.a (small)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r25c

      - name: Build static dobby
        run: |
          mkdir build
          cd build
          cmake .. \
            -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_HOME/build/cmake/android.toolchain.cmake \
            -DANDROID_ABI=armeabi-v7a \
            -DANDROID_PLATFORM=android-16 \
            -DDOBBY_BUILD_SHARED=OFF \
            -DCMAKE_BUILD_TYPE=MinSizeRel
          cmake --build . --config MinSizeRel

      - name: Upload libdobby.a
        uses: actions/upload-artifact@v4
        with:
          name: libdobby-static
          path: build/dobby/libdobby.a
